backoffice-frontend/.DS_Store
/API/node_modules
/GraphQL/node_modules
/Frontend/node_modules
Database/.DS_Store
/API/dist
/GraphQL/dist
/node_modules
API/tsconfig.tsbuildinfo

# Environment variables - ignorar todos
.env
.env.*
.env.development
.env.staging
.env.production
api/.env
frontend/.env
graphql/.env